<%= button_to "Create a New Playlist", new_playlist_path, method: :get %>


<h1>Welcome to Smooth Sounds! Here Are All Of Your Smooth Playlists</h1>

<ul>
  <% @playlists.each do |playlist| %>
    <li>
      <%= link_to playlist.name,  playlist_path(playlist) %>
    </li>
  <% end %>
</ul>
